<div class="alert alert-danger" role="alert">
  <h4>Bad timeline</h4>
  <p>
    There are some problems with your timeline data. Fix those and this message should go away
  </p>
  <p>
  <ol>
    <li ng-repeat="event in timeline.events" ng-if="event.errors.length>0">
      {{event.title || 'Untitled' }}
      <ul>
        <li ng-repeat="error in event.errors">{{error}}!</li>
      </ul>
    </li>
  </ol>
  </p>
  <p>
    Note that overlapping events are not yet supported (yeah, I know, pretty naff)
  </p>
</div>

