<uib-accordion xxclose-others="oneAtATime">
  <uib-accordion-group status="event.expanded" ng-repeat="event in timeline.events">
    <uib-accordion-heading>
      <small class="pull-right text-danger" ng-if="event.errors.length>0"><i class="fa fa-exclamation-triangle"></i>
      </small>
      {{event.title || 'Untitled event'}}
      <small>
        {{event.from | datestring:'MM/YY'}} - {{event.to | datestring:'MM/YY'}} {{event.valid}}
      </small>
    </uib-accordion-heading>
    <event-form event="event">
      <div class="form-group">
        <button class="btn btn-link btn-sm pull-right" ng-click="removeEvent(event)"><i class="fa fa-trash"></i> Remove
        </button>
      </div>
    </event-form>
  </uib-accordion-group>
  <uib-accordion-group status="newEvent.expanded">
    <uib-accordion-heading>
      Add new event <span class="pull-right"><i class="fa fa-plus"></i></span>
    </uib-accordion-heading>
    <event-form event="newEvent">
      <div class="form-group">
        <button class="btn btn-primary btn-sm pull-right" ng-click="addEvent()">Add</button>
      </div>
    </event-form>
  </uib-accordion-group>
</uib-accordion>

