<form name="form" novalidate>
  <div class="row">
    <div class="form-group col-xs-12" ng-class="{'has-error': form.title.$invalid && form.title.$touched}">
      <label class="control-label" for="name">Title *</label>
      <input type="text" class="form-control input-sm" name="title" ng-model="event.title" required placeholder="Title">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-6" ng-class="{'has-error': form.from.$invalid && form.from.$touched}">
      <label class="control-label" for="from">From *</label>
      <input type="month" class="form-control input-sm" name="from" ng-model="event.from" ng-change="event.dateChanged()" placeholder="From" required>
    </div>
    <div class="form-group col-xs-6" ng-class="{'has-error': form.to.$invalid && form.to.$touched}">
      <label class="control-label" for="to">To *</label>
      <input type="month" class="form-control input-sm" name="to" ng-model="event.to" ng-change="event.dateChanged()" placeholder="To" required>
    </div>
  </div>
  <div class="form-group" ng-if="event.errors.length>0">
    <ul class="list-unstyled text-danger">
      <li ng-repeat="error in event.errors">{{error}}</li>
    </ul>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label class="control-label" for="description">Description</label>
      <textarea class="form-control input-sm" rows="3" name="description" ng-model="event.description" placeholder="Description (optional)"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-4">
      <label class="control-label" for="size">Size (%)</label>
      <input type="number"
             min="1"
             class="form-control input-sm"
             name="size"
             ng-init="event.biasAsInteger=event.bias*100"
             ng-change="event.bias=event.biasAsInteger/100"
             ng-model="event.biasAsInteger">
    </div>
  </div>

  <ng-transclude></ng-transclude>

</form>