<form name="form" novalidate>

  <div class="row">

    <div class="form-group col-xs-6">
      <label class="control-label">Timeline height</label>
      <input type="number" class="form-control" ng-model="settings.height" required>
      <p class="help-block">Height of timeline view</p>
    </div>

    <div class="form-group col-xs-6">
      <label class="control-label">Gap size</label>
      <input type="number" class="form-control" min="0" max="100" ng-model="settings.gapHeight" required>
      <p class="help-block">Space between vertical bars</p>
    </div>

    <div class="form-group col-xs-12">
      <label class="control-label">Time bias: <span ng-if="settings.timeBias>0">+</span>{{ settings.timeBias * 100 | number:0}}</label>
      <span class=help-block" ng-if="settings.timeBias==0"><small>(none)</small></span>
      <input type="range"
             class="form-control"
             min="-0.99"
             max="0.99"
             step="0.01"
             ng-model="settings.timeBias">
      <div class="row">
        <div class="col-xs-6"><p class="help-block">&laquo;&laquo; <small>Emphasize newer events</small></p></div>
        <div class="col-xs-6"><p class="help-block text-right"><small>Emphasize older events</small> &raquo;&raquo;</p></div>
      </div>
    </div>

  </div>
</form>


