<svg ng-attr-height="{{settings.height}}" width="45">

  <line x1="10" x2="10" y1="0" ng-attr-y2="{{settings.height}}" style="stroke:#ddd;"/>

  <rect ng-repeat="block in layout.blocks"
        x="2"
        width="16"
        ng-attr-height="{{block.h}}"
        ng-attr-y="{{block.y}}"
        style="fill: lightgrey; stroke: grey; stroke-width: 1"/>

  <line ng-repeat="block in layout.blocks"
        x1="19"
        x2="45"
        ng-attr-y1="{{block.barConnector}}"
        ng-attr-y2="{{block.textConnector}}"
        style="stroke: #ddd; stroke-width: 1"/>

</svg>
