<div watch-heights="Text">

  <div ng-repeat="block in layout.blocks"
       class="timeline-text-event"
       style="top: {{block.textY}}px;">
    <div>
      <div class="title">{{block.event.title}}</div>
      <div class="description">{{block.event.description}}</div>
    </div>
  </div>

</div>
