<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Timey Wimey</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel='stylesheet' href='/styles.css' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="/angular-animate.min.js"></script>
  <script src="/ui-bootstrap-tpls.min.js"></script>
  <script src="/safe.js"></script>
  <script src="/bundle.js"></script>

</head>

<body ng-app="timeywimey" ng-controller="TWController">

<div class="container">

  <div class="row col-xs-10 col-xs-offset-1">

    <div id='timeline-editor' class="col-xs-6">

      <uib-tabset>
        <uib-tab heading="Events">
          <ng-include src="'_events.html'"></ng-include>
        </uib-tab>
        <uib-tab active="true" heading="Settings">
          <ng-include src="'_settings.html'"></ng-include>
        </uib-tab>
        <uib-tab heading="Files">
          <p class="text-info">Yeah, this panel is a tad minimal at the moment...</p>
          <p>
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <small class="text-info">{{saveMessage}}</small>
          </p>
        </uib-tab>
      </uib-tabset>
    </div>

    <div class="col-xs-6">

      <uib-tabset>
        <uib-tab heading="View">
          <div ng-show="timeline.hasErrors">
            <ng-include src="'_errors.html'"></ng-include>
          </div>

          <div ng-hide="timeline.hasErrors"  style="position: relative;">
            <ng-include src="'_svg.html'"></ng-include>
            <ng-include src="'_text_blocks.html'"></ng-include>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>

  </div>

</div>

</body>
</html>

