body {
  padding-top: 10px;
}

div.tab-pane {
  padding-top: 5px;
}

h4.panel-title a:focus {
  outline: none;
  text-decoration: none;
}

h4.panel-title a:hover {
  text-decoration: underline;
}

div.timeline-text-event {
  position: absolute;
  font-size: 11px;
  left: 48px;
}

div.title {
  padding-top: 3px;
  font-weight: bold;
}

div.description {
  padding-bottom: 3px;
  font-size: 85%;
}

.btn:focus, .btn:active {
  outline: none !important;
}